@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f6f7fb;
  height: 100%;
}

button {
  @apply py-2 px-4 rounded-md
}

button[type='button'] {
  @apply bg-gray-400 text-gray-900 border border-gray-200 rounded-md
}

button[type='submit'],
.btn {
  @apply p-2 rounded-md bg-blue-500 border-blue-500 text-white hover:bg-blue-400 transition-colors
}

input {
  @apply w-full block rounded-md
}

input[type='text'] {
  @apply rounded-md
}

.sortable-chosen {
  @apply opacity-90 shadow-blue-100 border-blue-200 bg-blue-50 shadow-md overflow-hidden rounded-md animate-pulse
}